* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --text-color: #fff;
  --color: #f52cf9;
  --bg-color: #2d2d2e;
  --first: #fff;
  --second: #000;
  --mod-color: #363637;
  --box-bg: #333;
  --clr-bg: #3e3e3e;
  --place-clr: #afafaf;
}

body.dark-mode {
  --text-color: #222;
  --bg-color: #f2f2f2;
  --first: #222;
  --second: #fff;
  --mod-color: #eae6e6;
  --box-bg: #e5e5e5;
  --clr-bg: #e5e5e5;
  --place-clr: #6b6b6b;
}

body {
  background-color: var(--bg-color);
}
body section {
  min-height: 100vh;
  padding: 16rem 9% 2rem;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  padding: 0 9%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  z-index: 1;
}
nav .logo a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: var(--first);
}
nav .logo a span {
  color: var(--color);
}
nav .list-darkmode-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .list-darkmode-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 18px;
  z-index: 1;
  list-style: none;
}
nav .list-darkmode-menu ul li a {
  position: relative;
  text-decoration: none;
  color: var(--first);
  transition: 0.3s ease;
}
nav .list-darkmode-menu ul li a.active {
  color: var(--color);
}
nav .list-darkmode-menu ul li a:hover {
  color: var(--color);
}
nav .list-darkmode-menu ul li a:hover::before {
  width: 100%;
}
nav .list-darkmode-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: var(--color);
  transition: 0.3s ease;
}
nav .list-darkmode-menu .mode {
  color: var(--text-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
nav .list-darkmode-menu .mode .fa-moon,
nav .list-darkmode-menu .mode .fa-sun {
  position: absolute;
  animation: animate 0.5s;
}
nav .list-darkmode-menu .mode .fa-moon {
  display: none;
}
nav .list-darkmode-menu .mode input:checked ~ .fa-moon {
  display: block;
}
nav .list-darkmode-menu .mode input:checked ~ .fa-sun {
  display: none;
}
nav .list-darkmode-menu .mode input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@keyframes animate {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }
  75% {
    transform: rotate(25deg);
  }
}
nav .hamburger {
  position: relative;
  width: 30px;
  appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  scale: 0.9;
  display: none;
}
nav .hamburger .bar, nav .hamburger::after, nav .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--first);
  margin: 6px 0;
  margin-left: 2rem;
  transition: 0.4s;
}
nav .hamburger.active::before {
  transform: rotate(-45deg) translate(-8px, 5px);
}
nav .hamburger.active::after {
  transform: rotate(45deg) translate(-8px, -5px);
}
nav .hamburger.active .bar {
  opacity: 0;
}

.Home .home-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .home-info .left {
  flex: 1;
}
.Home .home-info .left h3 {
  font-size: 2.5rem;
  font-weight: 750;
  letter-spacing: 0.5px;
  color: var(--first);
  border-radius: 25px;
}
.Home .home-info .left h1 {
  font-size: 4rem;
  margin: 8px 0;
  color: var(--first);
  font-weight: 800;
}
.Home .home-info .left h4 {
  color: var(--first);
  font-size: 1.8rem;
  font-weight: 800;
  margin: 20px 0aw;
}
.Home .home-info .left p {
  color: var(--first);
  font-size: 1rem;
  width: 70%;
  font-weight: 700;
  line-height: 28px;
}
.Home .home-info .left span {
  color: var(--color);
}
.Home .home-info .left .social {
  margin: 30px 0;
  display: flex;
  gap: 10px;
}
.Home .home-info .left .social a {
  padding: 10px;
  font-size: 15px;
  border: 2px solid var(--color);
  color: var(--color);
  border-radius: 50%;
  transition: 0.4s ease;
}
.Home .home-info .left .social a:hover {
  color: white;
  background-color: var(--color);
  transform: translateY(-7px);
  box-shadow: 0, 0, 0.7rem, var(--color);
}
.Home .home-info .left .btn button {
  padding: 13px 15px;
  background-color: transparent;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.3s ease-in;
  font-weight: 700;
}
.Home .home-info .left .btn button:hover {
  color: #fff;
  background-color: var(--color);
  transform: translateY(-7px);
  box-shadow: 0 0 0.7rem var(--color);
}
.Home .home-info .right .profile img {
  height: 450px;
  width: 450px;
  object-fit: cover;
  background-color: var(--color);
  border: 4px solid var(--color);
  border-radius: 50%;
  object-position: top;
  box-shadow: 0 0 1.7rem var(--color);
}

.about .about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .about-wrapper .about-left {
  flex: 2;
}
.about .about-wrapper .about-left img {
  height: 400px;
  width: 400px;
  border: 4px solid var(--color);
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 0 2.7rem var(--color);
  cursor: pointer;
  transition: 0.3s ease;
}
.about .about-wrapper .about-left img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 80px var(--color);
}
.about .about-wrapper .about-right {
  flex: 2;
}
.about .about-wrapper .about-right h2 {
  font-size: 3rem;
  color: var(--first);
  font-weight: 800;
}
.about .about-wrapper .about-right h2 span {
  color: var(--color);
}
.about .about-wrapper .about-right h3 {
  color: var(--first);
  font-size: 1.5rem;
  font-weight: 800;
  margin: 20px 0;
}
.about .about-wrapper .about-right p {
  color: var(--first);
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 20px;
}
.about .about-wrapper .about-right button {
  padding: 13px 15px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color);
  border-radius: 40px;
  background-color: transparent;
  border: 2px solid var(--color);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.about .about-wrapper .about-right button:hover {
  color: white;
  background-color: var(--color);
  transform: translateY(-7px);
  box-shadow: 0 0 0.7rem var(--color);
}

.services h2 {
  font-size: 3em;
  font-weight: 800;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1.5em;
}
.services h2 span {
  color: var(--color);
}
.services .boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  flex-wrap: wrap;
}
.services .boxs .box {
  width: 370px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--box-bg);
  border: 2px solid var(--box-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 0.8em;
  transition: 0.4s ease;
}
.services .boxs .box:hover {
  scale: 1.03;
  border: 2px solid var(--color);
}
.services .boxs .box .icon {
  font-size: 3em;
  color: var(--color);
  font-weight: 800;
}
.services .boxs .box h3 {
  font-size: 1.8em;
  color: var(--text-color);
}
.services .boxs .box p {
  color: var(--text-color);
  font-size: 1em;
  font-weight: 700;
}
.services .boxs .box button {
  padding: 13px 15px;
  background-color: transparent;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 19px;
  font-size: 1em;
  font-weight: 700;
  transition: 0.4s ease;
}
.services .boxs .box button:hover {
  transform: translateY(-7px);
  background-color: var(--color);
  color: white;
  box-shadow: 0 0 0.7em var(--color);
}

.portfolio h2 {
  font-size: 2.8em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1.3em;
}
.portfolio h2 span {
  color: var(--color);
}
.portfolio .portfolio-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  flex-wrap: wrap;
}
.portfolio .portfolio-wrapper .portfolio-box {
  position: relative;
  width: 375px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.portfolio .portfolio-wrapper .portfolio-box img {
  width: 100%;
  border-radius: 15px;
  transition: 0.5s ease;
}
.portfolio .portfolio-wrapper .portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-wrapper .portfolio-box .portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1.5em;
  background: linear-gradient(rgba(0, 0, 0, 0.4), var(--color));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio .portfolio-wrapper .portfolio-box .portfolio-info h4 {
  font-size: 2em;
  color: white;
  margin-bottom: 5px;
}
.portfolio .portfolio-wrapper .portfolio-box .portfolio-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  margin: 10px 15px 15px;
  color: white;
}
.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 50%;
}
.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a i {
  font-size: 1em;
  color: black;
}
.portfolio .portfolio-wrapper .portfolio-box:hover .portfolio-info {
  transform: translateY(0);
}

.contact h2 {
  font-size: 2.8em;
  text-align: center;
  color: var(--first);
  margin-bottom: 1em;
}
.contact h2 span {
  color: var(--color);
}
.contact form {
  max-width: 40em;
  margin: 1em auto;
  text-align: center;
  margin-bottom: 3em;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input {
  width: 49%;
  padding: 1em;
  font-size: 16px;
  color: var(--first);
  background-color: var(--clr-bg);
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 9px 0;
}
.contact form .input-box input ::placeholder {
  color: var(--place-clr);
}
.contact form textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: var(--first);
  background-color: var(--clr-bg);
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 9px 0;
}
.contact form textarea::placeholder {
  color: var(--place-clr);
}
.contact form button {
  padding: 12px 24px;
  margin-top: 1em;
  border-radius: 25px;
  color: #fff;
  background-color: var(--color);
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.contact form button:hover {
  color: var(--color);
  background-color: transparent;
  transform: translateY(-7px);
  box-shadow: 0 0 0.7rem var(--color);
}

footer {
  min-height: 20vh;
  padding: 16rem 9% 2rem;
}

.footer {
  padding: 12px 9%;
  display: flex;
  align-items: center;
  background-color: var(--clr-bg);
}
.footer .container {
  padding: 0;
}
.footer .footer-wrapper {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer-wrapper .footer-info p {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: var(--first);
}
.footer .footer-wrapper .iconTop a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: var(--color);
  transition: 0.4s;
}
.footer .footer-wrapper .iconTop a:hover {
  box-shadow: 0 0 0.7rem var(--color);
}
.footer .footer-wrapper .iconTop a i {
  font-size: 1em;
  color: white;
}

@media screen and (max-width: 1280) {
  .Home .home-info .left h1 {
    font-size: 4em;
  }
  .Home .home-info .right .profile img {
    height: 400px;
    width: 400px;
  }
  .services .boxs {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  body section {
    padding: 8rem 5% 2rem;
  }
  header {
    background-color: var(--mod-color);
    position: fixed;
    top: 0;
    padding: 0 5%;
    z-index: 9;
  }
  header nav .list-darkmode-menu ul {
    position: fixed;
    top: 89px;
    left: -100%;
    max-width: 60%;
    width: 100%;
    height: 100vh;
    background-color: var(--mod-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 2rem 5% 0;
    transition: 0.3s ease;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 23px;
  }
  header nav .list-darkmode-menu ul.active {
    left: 0%;
  }
  header nav .hamburger {
    display: block;
  }
  .Home {
    padding: 8rem 5% 2rem;
  }
  .Home .home-info {
    flex-direction: column-reverse;
  }
  .Home .home-info .left {
    padding-top: 50px;
  }
  .Home .home-info .left a {
    width: 100%;
  }
  .Home .home-info .left .social {
    display: none;
  }
  .Home .home-info .right .profile {
    margin-top: 25px;
  }
  .Home .home-info .right .profile img {
    width: 375px;
    height: 375px;
  }
  .Home .home-info .right .profile img:hover {
    box-shadow: 0 0 60px var(--color);
  }
  .about .about-wrapper {
    flex-direction: column-reverse;
  }
  .about .about-wrapper .about-left .about-img img {
    height: 375px;
    height: 375px;
  }
  .about .about-wrapper .about-left .about-img img:hover {
    box-shadow: 0 0 60px var(--color);
  }
}
@media screen and (max-width: 767) {
  header nav .list-darkmode-menu ul li a {
    font-size: 20px;
  }
  .Home .home-info .left h1 {
    font-size: 3.6em;
  }
  .Home .home-info .left h4 {
    font-size: 1.8em;
  }
  .Home .home-info .left p {
    font-size: 14px;
  }
  .Home .home-info .right .profile img {
    width: 350px;
    height: 350px;
  }
  .services .boxs .box {
    width: 340px;
  }
  .profile .portfolio-wrapper .portfolio-box {
    width: 340px;
  }
}
@media screen and (max-width: 565px) {
  header nav .logo a {
    font-size: 28px;
  }
  .Home .home-info .left h3 {
    font-size: 1.83em;
  }
  .Home .home-info .left h1 {
    font-size: 2.5em;
  }
  .Home .home-info .left h4 {
    font-size: 1.4em;
  }
  .Home .home-info .left p {
    font-size: 14px;
  }
  .Home .home-info .right .profile img {
    height: 280px;
    width: 280px;
  }
  .about .about-wrapper .about-left .about-img img {
    width: 280px;
    height: 280px;
  }
  .about .about-wrapper .about-right .about-info h2 {
    font-size: 2.5em;
  }
  .services h2 {
    font-size: 2.5em;
  }
  .portfolio h2 {
    font-size: 2.5em;
  }
  .contact h2 {
    font-size: 2.5em;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    padding: 1.3em 5%;
  }
  .footer .footer-wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer .footer-wrapper .footer-info {
    line-height: 1.5em;
  }
  .footer .footer-wrapper .iconTop {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=index.css.map */